.section-me {
  width: 100%;
  max-width: 1200px;
  border-radius: 12px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.me-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 360px;
  gap: 20px;
}

.me-experience-container {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.me-left-column,
.me-right-column {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

.me-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.me-name {
  font-family: "xknl", sans-serif;
  color: #8b5a8c;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.me-description {
  font-size: 14px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.me-social-links {
  text-align: center;
  margin-bottom: 15px;
  color: #555555;
  font-size: 14px;
}

.me-social-links a {
  color: #8b5a8c;
  text-decoration: none;
  margin: 0 5px;
}

.me-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  text-align: center;
}

.me-history-title {
  font-family: "xknl", sans-serif;
  color: #8b5a8c;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.me-timeline {
  position: relative;
  padding-left: 20px;
  max-height: 278px; /* 可以根据需要调整高度 */
  overflow-y: auto;
}

.me-timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}

.me-timeline-dot {
  position: absolute;
  left: -6px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8b5a8c;
}

.me-timeline-date {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

.me-timeline-event-title {
  font-weight: bold;
  color: #333;
  font-family: "xknl";
  margin-bottom: 5px;
}

.me-timeline-event-description {
  font-size: 13px;
  color: #666;
}

.github-con-img {
  width: calc(100% - 40px);
  margin: 20px;
}
.me-title-text {
  color: #8b5a8c;
  font-size: 21px;
  margin-left: 10px;
  font-weight: bold;
  font-family: "xknl", sans-serif;
  line-height: 1;
  margin-top: 3px;
}
.me-title svg {
  width: 24px;
  height: 24px;
  fill: #8b5a8c;
}
.me-title {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.me-big-title {
  font-family: "xknl", sans-serif;
  color: #8b5a8c;
  font-size: 26px;
  margin-top: 3px;
  text-align: center;
}
@media (max-width: 800px) {
  .github-con-container {
    display: none;
  }
  .me-big-title {
    font-size: 20px;
  }
  .me-content-container {
    flex-direction: column;
  }
}

.skill-container {
  margin-top: 20px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.skill-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* bg-gray-50 */
  border-radius: 8px; /* rounded-lg */
  padding: 12px; /* p-3 */
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* shadow-sm */
}

.skill-list > div:hover {
  background-color: #f7fafc; /* hover:bg-gray-100 */
}

.skill-list svg {
  width: 48px; /* w-12 */
  height: 48px; /* h-12 */
  margin-bottom: 8px; /* mb-2 */
}

.skill-list span {
  font-size: 12px; /* text-xs */
  color: #4a5568; /* text-gray-600 */
  text-align: center;
}
