* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: url(../assets/cursor.svg) 4 4, auto !important;
}
main {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}
@font-face {
  font-family: "xknl";
  src: url(../assets/xknl.ttf);
}
body {
  font-family: "a", sans-serif;
  background: url(../assets/wall.webp) no-repeat center center fixed;
  background-size: cover;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; /* Prevent scrollbar during animation */
  backdrop-filter: blur(50px); /* 添加高斯模糊 */
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  overflow-y: scroll;
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
  left: 0;
  top: 0;
}

.cursor-dot.active {
  transform: scale(0.5);
}
/* 全局滚动条美化 */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff6ea3;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 158, 192);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
