.welcome {
  font-size: 65px;
  font-weight: 800;
  margin: 0;
  line-height: 1.5;
}

.gradientText {
  font-family: "title";
  margin-left: -34px;
  color: #41d1ff;
}

@font-face {
  font-family: "title";
  src: url(../assets/Pacifico-Regular.ttf);
}

.description {
  font-size: 20px;
  margin-top: 7px;
}

@media (max-width: 800px) {
  .description {
    font-size: 4vw;
  }

  .welcome {
    font-size: 10vw;
  }
  .iconContainer {
    margin-top: 4vw;
  }
}

.purpleText {
  color: #ff6ea3;
  font-weight: 800;
}

.textBackground {
  font-weight: 800;
  background: #00000040;
  border-radius: 5px;
  font-size: 17px;
  margin: 0 3px;
  padding: 2px 4px;
}

.tc {
  position: fixed;

  display: flex;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(20, 20, 20, 0.5);
  z-index: 99999;
  align-items: center;
  top: 0;
  justify-content: center;
  flex-direction: column;
}

.tc-main {
  z-index: 100000;

  width: 80%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 15px;

  display: flex;
  transition: transform 0.2s linear;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateY(30%) scale(0.5);
}

.tc-img {
  width: 100%;
  height: 100%;
}

.tc.active {
  visibility: visible;
}

.tc-main.active {
  transform: translateY(0) scale(1);
}

.iconTip {
  white-space: nowrap;
  display: none;
}

.iconItem:hover {
  width: 95px;
  /* transform: translateY(-2px); */
  background: var(--item_hover_color);
}

.iconItem:hover .iconTip {
  display: block;
  margin-left: 4px;
}

.iconItem {
  width: 49px;
  height: 43px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  margin-left: 10px;

  backdrop-filter: blur(var(--card_filter));
  -webkit-backdrop-filter: blur(var(--card_filter));
  background: var(--item_bg_color);
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
}

.iconItem i,
.iconItem svg {
  width: 22px;
  height: 22px;
  fill: var(--fill);
  font-size: 22px;
}

.iconContainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-top: 20px;
}

.iconContainer::-webkit-scrollbar {
  display: none;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  --main_bg_color: url(../img/background.webp);
  --main_text_color: #eeeeee;
  --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
  --purple_text_color: #747bff;
  --text_bg_color: #00000040;
  --item_bg_color: #00000038;
  --item_hover_color: #33333338;
  --item_left_title_color: #ffffff;
  --item_left_text_color: #ffffff;
  --footer_text_color: #ffffff;
  --left_tag_item: rgb(27 42 57 / 20%);
  --card_filter: 0px;
  --back_filter: 19px;
  --back_filter_color: #00000030;
  --fill: #ffffff;
}

.section-title {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-title .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.text-content {
  text-align: left;
  max-width: 500px;
  opacity: 0; /* Initial state for animation */
  transform: translateY(20px); /* Initial state for animation */
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.2s; /* 同步动画延迟 */
}

.text-content h1 {
  font-size: 3em;
  margin-bottom: 15px;
  color: #ffffff; /* 默认颜色 */
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.highlight {
  background-color: #007bff;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.image-content {
  opacity: 0; /* Initial state for animation */
  transform: scale(0); /* Initial state for scale-in animation */
  animation: scaleIn 1s ease-out forwards;
  animation-delay: 0.2s; /* 同步动画延迟 */
}

.image-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: breathe 2s infinite; /* 应用呼吸动画 */
}

@keyframes breathe {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes iconItemIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconItem {
  transform: translateY(20px);
  opacity: 0;
  animation: iconItemIn 0.5s ease-out forwards;
}

.name-highlight {
  color: #4ccaf5; /* 紫色 */
}

@media (max-width: 968px) {
  .section-title .container {
    flex-direction: column-reverse; /* 使头像在文字上方 */
    gap: 30px; /* 调整小屏幕下的间距 */
  }

  .text-content {
    text-align: center;
    max-width: 100%; /* 小屏幕下文字内容宽度占满 */
  }

  .text-content h1 {
    font-size: 2.5em;
  }

  .text-content p {
    font-size: 1em;
  }

  .buttons {
    justify-content: center;
  }

  .image-content {
    margin-top: 20px; /* 头像在上方时增加顶部间距 */
    margin-bottom: 0; /* 移除底部间距 */
  }

  .image-content img {
    width: 200px; /* 小屏幕下头像尺寸调整 */
    height: 200px;
  }

  .iconContainer {
    justify-content: center;
  }
}
